.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding-left: 2rem;
}
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;

  a {
    display: flex;
    align-items: center;
  }
}
